html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(../images/bg.jpg);
    background-size: 100% 100%;
    text-shadow: 0 0 10px #00ffff;
    a{
        text-decoration: none;
    }
}